@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* app stuff */

.App {
  text-align: center;
}

body {
  background-color: #2d4336;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.song_list {
  text-align: left;
}

a {
  color: rgb(100, 167, 100);
}

.text_box {
  position:relative;
  font-size: 1em;
  background: linear-gradient(21deg, #65956a, #f3faf2);
  padding: 3px;
  display: inline-block;
  /*border-radius: 9999em;*/
  width: 100px
}

.submit_button {
	color:#FFFFFF;
	background-color:#65956a;
	border-color:#65956a;
	cursor:pointer; 
	border:1px solid transparent; 
	padding:6px 16px; 
	font-size:14px; 
	border-radius:4px;
  text-align: center;
}

.App-header {
  background-color: #2d4336;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
